{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
  <title>Where is the property located? - Check eligibility for Great British Insulation Scheme - GOV.UK</title>
{% endblock %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="question-country-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Where is the property located?
          </h1>
        </legend>

        {{macros.radios('country', country_options, data, errors)}}

      </fieldset>
    </div>
  {%- endcall %}
{% endblock %}
