{% extends "frontdoor/base.html" %}

{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">You may qualify for enhanced household support from your local council</h1>

    <p class="govuk-body">Your local council may be able to offer you more help than you can receive through this
      service.</p>

    <p class="govuk-body">Because your household income is less than £31,000 and no one in your household receives
      benefits, your local council may be able to offer multiple home energy saving measures for your property. This is
      known as the ‘Energy Company Obligation 4 – Flexible Entry Route’.</p>

    <p class="govuk-body">Only some local councils are able to offer this. <a href="#" target="_blank"
        rel="noopener noreferrer" class="govuk-link">Find your
        council contact details to contact
        them directly (opens in a new tab).</a></p>

    <p class="govuk-body">You can still use this service to check what other home energy schemes you may qualify for.
    </p>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </div>
</div>

{% endblock %}